solution/ipch
solution/Debug
solution/Release
solution/x64
solution/*.sdf
solution/*.suo
solution/injector/Debug
solution/injector/Release
solution/injector/x64
solution/injector/*.user
solution/ponywareDll/Debug
solution/ponywareDll/Release
solution/ponywareDll/x64
solution/ponywareDll/*.user
solution/unpony/Debug
solution/unpony/Release
solution/unpony/x64
solution/unpony/*.user
src/injector/paythepony.aps
src/ponywareDll/ponywareDll.aps